<!--
  Copyright (c) 2016-2020 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    .md-footer {
        bottom: 0;
    }
    /* .tx-hero {
        width: 1440px;
        margin-right: 80px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: bottom 50px;;
        max-width:100%;
        margin-top:3.5rem;
    }
    @media screen and (min-width: 640px) {
    .tx-hero {
        display: flex;
        
    }
  } */

  

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    } 

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

  <!-- Hero for landing page -->
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">

        <!-- Hero image -->
        <div class="tx-hero__image">
          <img
            src="./../images/hoprombola_incontro_logo.png"
            alt=""
            width="800"
            draggable="false"
          >
        </div>

        <!-- Hero content -->
        <div class="tx-hero__content">
          <h1>Hoi Zäme!</h1>
          <p>Willkommen auf unsere Website zu Hoprombola. Wir organisieren im Rahmen des diesjährigen Geographie Präferenzkurses der Kantonsschule Hohe Promenade eine Tombola und spenden die Einnahmen an die Hilfsorganisation Incontro. Hier erfahrt ihr mehr über unser Projekt und könnt auch gleich die Tombolalösli kaufen. 

          </p>
        </p>
        <p><a
          href="{{ 'sponsoren' | url }}"
          title="Sponsoren"
          class="md-button md-button--primary"
        >
        Sponsoren →
        </a>

        </p>
        <p><a
          href="{{ 'teilnahme' | url }}"
          title="Teilnahme"
          class="md-button md-button--primary"
        >
        Teilnahme →
        </a>

        <p><a
          href="{{ 'incontro' | url }}"
          title="Sponsoren"
          class="md-button md-button--primary"
        >
        Incontro →
        </a>
        <br>
        </div>
      </div>
    </div>
  </section>

{% import "partials/language.html" as lang with context %}

<!-- Application footer -->
<footer class="md-footer">

  <!-- Further information -->
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">

      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">
        {% if config.copyright %}
          <div class="md-footer-copyright__highlight">
            {{ config.copyright }}
          </div>
        {% endif %}
        <p>Geographie PK 2020/21 KS Hohe Promenade</p>
      </div>

      <!-- Social links -->
      {% include "partials/social.html" %}
    </div>
  </div>
</footer>
  
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %} 
