<!--
  Copyright (c) 2016-2020 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

     .tx-hero {
        width: 1440px;
        margin-right: 80px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: bottom 50px;;
        max-width:100%;
        margin-top:3.5rem;
    }

    
    /* .tx-hero {
        display: initial;
        
    } */

    
    .p {
      margin-bottom: 0;
    }
  
    .tx-hero__content{
        max-width: 80%;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    } 

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

  <!-- Hero for landing page -->
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">


        <!-- Hero content -->
        <div class="tx-hero__content">
          <h1>Preise</h1>
          
          <p>Bei einer Spende habt ihr die Chance viele tolle Preise zu gewinnen:</p>

          <h3 style="margin-bottom: 0;">Vicafe</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">3x 50.- Gutscheine</p>
          <h3 style="margin-bottom: 0;">Sternen Grill/Bellevue Pizza</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">10x Bratwurst Gutscheine</p>
          <p style="margin : 0; padding-top:0;">10x Pizza Gutscheine</p>
          <h3 style="margin-bottom: 0;">Ässbar</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">5x 20.- Gutscheine</p>
          <h3 style="margin-bottom: 0;">Stripped Pizza</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">8x Pizza Gutscheine</p>
          <h3 style="margin-bottom: 0;">Velo Plus</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">5x 20.- Gutscheine</p>
          <h3 style="margin-bottom: 0;">ZKB</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">6x Bluetooth Kopfhörer</p>
          <p style="margin : 0; padding-top:0;">8x Sackmesser</p>
          <p style="margin : 0; padding-top:0;">6x USB-Stick</p>
          <p style="margin : 0; padding-top:0;">10x Jasskarten</p>
          <h3 style="margin-bottom: 0;">Babu's Bakery</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">4x 20.- Gutscheine</p>
          <h3 style="margin-bottom: 0;">Anonymer Sponsor</h3>
          <p style="margin-bottom:0; margin: 0; padding-top: 10px;">2x Thermosflasche</p>
          <p style="margin : 0; padding-top:0;">2x Trinkflasche</p>
          <p style="margin : 0; padding-top:0;">2x Stoff-Einkaufstasche</p>



        </div>
      </div>
    </div>
  </section>

{% import "partials/language.html" as lang with context %}

<!-- Application footer -->
<footer class="md-footer">

  <!-- Further information -->
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">

      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">
        {% if config.copyright %}
          <div class="md-footer-copyright__highlight">
            {{ config.copyright }}
          </div>
        {% endif %}
        <p>Geographie PK 2020/21 KS Hohe Promenade</p>
      </div>

      <!-- Social links -->
      {% include "partials/social.html" %}
    </div>
  </div>
</footer>
  
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %} 
