<!--
  Copyright (c) 2016-2020 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    /* .tx-hero {
        width: 1440px;
        margin-right: 80px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: bottom 50px;;
        max-width:100%;
        margin-top:3.5rem;
    }*/

    
    /* .tx-hero {
        display: initial;
        
    } */

    
    .p {
      margin-bottom: 0;
    }
  
    .tx-hero__content{
        max-width: 80%;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    } 

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

  <!-- Hero for landing page -->
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">


        <!-- Hero content -->
        <div class="tx-hero__content">
          <h1>Teilnahme</h1>
          <p>Danke für deine Unterstützung. Mit jedem Los werden Menschen, die am Rande unserer Gesellschaft leben, unterstützt.</p>
          <p><b>3.- Franken pro Los</b> (bei mehreren Losen steigt deine Wahrscheinlichkeit für einen Gewinn)</p>
          <div>
            <h3 style="margin-bottom: 0;">Twint</h3>
            <p style="margin-bottom:0; margin: 0; padding-top: 10px;">Sende 3.- pro Los per Twint an folgende Nummer (du kannst auch mehrere kaufen):</p>
            <p style="margin : 0; padding-top:0;">076 483 58 90</p>
            <p style="margin : 0; padding-top:0;"><b>Name:</b> Hoprombola</p>
            <p style="margin : 0; padding-top:0;"><b>Wichtig!</b> Notiere deinen Namen als Nachricht.</p>
            <p style="margin : 0; padding-top:0;">Ohne Namen werdet ihr nicht berücksichtig bei der Verlosung!</p>
 
          </div>
          <div>
            <h3 style="margin-bottom: 0;">Überweisung</h3>
            <p style="margin-bottom:0; margin: 0; padding-top: 10px;">Falls du kein Twint hast, überweise das Geld auf das folgende Konto:</p>
            <p style="margin : 0; padding-top:0;"><b>IBAN:</b> CH19 8080 8007 9826 2475 3</p>
            <p style="margin : 0; padding-top:0;"><b>Name:</b> Monica Stoop, Hoprombola</p>
            <p style="margin : 0; padding-top:0;"><b>Wichtig!</b> Gib auch da deinen Namen <b>und</b> deine Telefonnummer im Nachrichtenfeld an.</p>
            <p style="margin : 0; padding-top:0;">Ohne Namen <b>und</b> Telefonnummer werdet ihr nicht berücksichtig bei der Verlosung!</p>
          </div>
          <div>
            <h3 style="margin-bottom: 0;">Bar</h3>
            <p style="margin-bottom:0; margin: 0; padding-top: 10px;">In der Nachhaltigkeits-Woche vom 20. bis 23. April werden wir einen Stand täglich jeweils in der 10-Uhr Pause in der Kantonsschule Hohe Promenade aufstellen,
               wo ihr die Gelegenheit habt vorbeizukommen und bar zu bezahlen.</p>
            <p>Bei Spenden ohne Teilnahme an der Tombola muss dies explizit erwähnt werden.</p>
            <p>Eure Kontaktdaten werden nicht veröffentlicht, sondern dienen nur dem Zweck der Kontaktierung bei einem Gewinn.</p>
          </div>
          <br>
          <br>
          <br>  
          
        </div>
      </div>
    </div>
  </section>

{% import "partials/language.html" as lang with context %}

<!-- Application footer -->
<footer class="md-footer">

  <!-- Further information -->
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">

      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">
        {% if config.copyright %}
          <div class="md-footer-copyright__highlight">
            {{ config.copyright }}
          </div>
        {% endif %}
        <p>Geographie PK 2020/21 KS Hohe Promenade</p>
      </div>

      <!-- Social links -->
      {% include "partials/social.html" %}
    </div>
  </div>
</footer>
  
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %} 
