
.md-footer-nav {
display: none;
}

.md-footer {
    color: white;

}

.md-content {
    display: initial;
}

.md-search {
display: none;
}

/* .md-sidebar--secondary {
display: none;
} 

.md-sidebar--primary {
display: none;
} */




